window {{
    background-color: rgba ({color1.rgb}, 0.89);
    color: #eeeeee;
    border: 5px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-width: 2px;
    border-color: rgba ({color6.rgb}, 0.9)
}}

list {{
    background: rgba ({background.rgb}, .8);
    border-radius: 15px
}}

entry {{
    background-color: rgba ({background.rgb}, 0.9);
    border-radius: 6px
}}

button {{
    background: none;
    border: 2px;
}}

button:hover {{
    background-color: rgba ({color6.rgb}, 0.8)
}}